/astralsorcery/
/coremods/
/crash-reports/
/journeymap/
/local/
/logs/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
BotaniaVars.dat
crafttweaker.log
icon.png
patchouli_data.json
usercache.json
usernamecache.json
*.ogg
*.wav
*example*
/config/enderio/recipes/*.pdf
/.mixin.out/
zs_export.json
